* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
}
.LandingBluestone {
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #73629579;
}
.LandingBluestoneTitle {
  font-size: 2.6vmin;
  color: #11922687;
  letter-spacing: 1.1vmin;
  text-align: center;
  
}
.LandingBluestoneButtons {
  background-color: #92112687;
}
button {
  font-size: 2.6vmin;
  color: #abcdef92;
  background-color: #00192887;
}