* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  background-color: #000;
}
#neon-monkey-bluestone {
  background-color: #000;
}
#initial-bluestone {
  width: "2.6vmin";
  height: "26vmin";
  margin: "8vmin 0 0 8vmin";
  background-color: "#abcdef";
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.navbar-bluestone {
  width: 8em;
  height: auto;
  background-color: #ffffff49;
}
.landing-bluestone {
  height: 100vmin;
  display: inherit;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.LandingBluestoneTitle {
  font-size: 8vmin;
  color: #11922687;
  letter-spacing: 0.8vmin;
  text-align: center;
  
}
.LandingBluestoneButtons {
  display: inherit;
  justify-content: space-evenly;
  align-items: center;
  width: -webkit-fill-available;
}
button {
  font-size: 3.6vmin;
  color: #abcdef92;
  background-color: #00192892;
  border-style: none;
  border-color: transparent;
  width: 26vmin;
  height: 8vmin;
  border-radius: 26vmin;
}
.bottom-menu {
  position: sticky;
  bottom: 0;
  height: 8vmin;
  width: -webkit-fill-available;
  background-color: #00000087;
  display: inherit;
  justify-content: space-evenly;
}